<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CSS selector</title>
    <style>
        h1{
            color: rgb(13, 255, 0);
        }
        div{
            background-color: aliceblue;
        }
        #red, h3 {
            color: red;
        }
        .blue{
            background-color: blueviolet;
            color: rgb(243, 220, 245);
        border:2px solid rgb(0, 0, 0)
        }

    </style>
</head>
<body>
    <div>
        <h1>This is my CSS selector page</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae id repellat dolorum harum officia deserunt ratione, ullam minus expedita eius impedit cumque similique corrupti ipsum, mollitia facilis provident nulla soluta magni. Nam, beatae error! Est, aspernatur provident. Sunt.
        </p>
        <h1>This is another h1</h1>
         <div id="red">bg is red</div>
         <span class="blue">First tag</span>
         <span class="blue">Second tag</span>
         <span class="blue">Third tag</span>
         <h3>I am h3</h3>
         
         
    </div>
</body>
</html>